section.about 
    .about__container.container
        .about__text
            .about__title 
                span Skills
            .about__skills
                ul 
                    li 
                        span Javascript / ES5 / ES6 / SPA (React) / JQuery - Webpack / Gulp / Node.js - CSS (with Sass, Less, Stylus and Postcss)
                    li 
                        span HTML (with Pug / Jade, Bootstrap / Tailwind) - Responsive Pixel Perfect UI layout - UI/UX Testing
                    li 
                        span GIT (BitBucket, GitHub, Gitlab)
                    li 
                        span MacOs/Linux - Figma, Photoshop, Illustrator, Zeplin