section.about 
  .about__container.container
    .about__text
      .about__title 
        span Skills
    .about__skills
      .about__btns 
        a.about__btn.about-btn-js.js-1
          span JS
          include ../../assets/images/click1.svg
        a.about__btn.about-btn-js.js-2
          span HTML
          include ../../assets/images/click1.svg
        a.about__btn.about-btn-js.js-3
          span CMS
          include ../../assets/images/click1.svg
        a.about__btn.about-btn-js.js-4
          span CSS
          include ../../assets/images/click1.svg
        a.about__btn.about-btn-js.js-5
          span All
          include ../../assets/images/click1.svg
      .about__descr
        .about__descr-item.js-11
          p Javascript (ES5 ES6)
          span /
          p SPA (React, React Native)
          span /
          p JQuery - Webpack
          span /
          p Node.js
        .about__descr-item.js-12
          p HTML (Pug,Bootstrap, Tailwind)
          span /
          p Tags
          span /
          p Links
          span /
          p Meta
        .about__descr-item.js-13
          p Wordpress (php, API, ACF ,Cookie ,seo )
          span /
          p Drupal 7 (php, modules, php)
          span /
        .about__descr-item.js-14 
          p SCSS
          span /
          p Layout
          span /
          p PixelPerfect
          span /
          p Animations
        .about__descr-item--full.js-15
            a.about__descr-item-close
                span x
            p JS &nbsp;
                span JavaScript: ES5, ES6, SPAs (React, Angular), JQuery, Webpack, Node.js.
            p HTML &nbsp;
                span Markup: Pug, Bootstrap, Tailwind. Optimized for Pixel Perfect, UI/UX, SEO-friendly code.
            p CSS &nbsp;
                span Styling: SASS, GreenSock. Focus on animations, responsive design.
            p Tools &nbsp;
                span Tools: GIT (BitBucket, GitHub, Gitlab), OS: MacOS/Linux, Design: Figma, Photoshop, Illustrator, Zeplin.
            p Soft Skills &nbsp;
                span Languages: English (Intermediate B1), Ukrainian (Native), Russian. Key attributes: quick learning, punctuality, flexibility, teamwork ability.
            p CMS &nbsp;
                span Content Management Systems: Proficient in WordPress (PHP, API, ACF, Cookies, SEO) and Drupal 7 (PHP, modules, theme customization). Strong understanding of CMS architecture and plugin development.
