section.about 
  .about__container.container
    .about__text
        .about__title 
            span Skills
    .about__skills
        .about__btns 
            a.about__btn.about-btn-js
                span JS
                include ../../assets/images/click1.svg
            a.about__btn.about-btn-js
                span HTML
                include ../../assets/images/click1.svg
            a.about__btn.about-btn-js
                span CSS
                include ../../assets/images/click1.svg
            a.about__btn.about-btn-js
                span All
                include ../../assets/images/click1.svg
        .about__descr
            .about__descr-item 
                p Javascript (ES5 ES6)
                span /
                p SPA (React, Angular)
                span /
                p JQuery - Webpack
                span /
                p Node.js
            .about__descr-item 
                p HTML (with Pug, Bootstrap / Tailwind)
                span /
                p Tags
                span /
                p Links
                span /
                p Meta-information
            .about__descr-item 
                p SCSS
                span /
                p Layout
                span /
                p PixelPerfect
                span /
                p Animations
            .about__descr-item--full
                a.about__descr-item-close 
                    span x
                p JS
                    span Javascript / ES5 / ES6 / SPA (React, Angular) / JQuery- Webpack / Node.js
                p HTML
                    span Pug, Bootstrap / Tailwind- Responsive Pixel Perfect UI layout- UI/UX Testing- SEO friendly code
                p CSS
                    span SASS, GreenSock, Pixel Perfect, Animations
                p Posses
                    span GIT (BitBucket, GitHub, Gitlab)- MacOs/Linux- Figma, Photoshop, Illustrator, Zeplin
                p  Soft Skills
                    span - English (Intermediate B1)- Ukrainian (Native) / Russian- Fast learning- Punctuality- Flexibility- Skill to work in team
