section.about 
    .about__container.container
        .about__text
            .about__title 
                span Skills
            .about__skills
                ul 
                    li 
                        span JS
                        include ../../assets/images/click1.svg
                    li 
                        span HTML
                        include ../../assets/images/click1.svg

                    li 
                        span CSS
                        include ../../assets/images/click1.svg

                    li 
                        span More
                        include ../../assets/images/click1.svg
