//- header.header 
//-     .header__container.container 
//-         ul.header__menu 
//-             li.header__item 
//-                 span About 
//-             li.header__item 
//-                 span Skils 
//-             li.header__item 
//-                 span Examples 