section.hero 
  .hero__container.container 
    .hero__about
      .hero__descr
        .hero__about-text 
          h1 Hello, I'm Serhiy
          h2 Description Description Description
        .hero__about-actions 
          a.hero__about-social.social-btn(href="#") 
            //- span GITHUB
            include ../../assets/images/github.svg
          a.hero__about-portfolio.btn(href="#")
            span Portfolio
            include ../../assets/images/download3.svg

          a.hero__about-social.social-btn(href="#") 
            include ../../assets/images/twitter.svg

          a.hero__about-social.social-btn(href="#") 
            include ../../assets/images/telegram.svg

          a.hero__about-social.social-btn(href="#") 
            include ../../assets/images/instagram.svg

    .hero__img
      //- +image('IMG1.JPG')

      //- .hero__descr
      //-   .hero__about-text 
      //-     h1 Hello, I'm Serhiy
      //-     h2 Description Description Description
      //-   .hero__about-actions 
      //-     a.hero__about-social.social-btn(href="#") 
      //-       //- span GITHUB
      //-       include ../../assets/images/github.svg
      //-     a.hero__about-portfolio.btn(href="#")
      //-       span Portfolio
      //-       include ../../assets/images/download3.svg

      //-     a.hero__about-social.social-btn(href="#") 
      //-       //- span SWITTER
      //-       include ../../assets/images/twitter.svg

      //-     a.hero__about-social.social-btn(href="#") 
      //-       //- span TEGLEGRIM
      //-       include ../../assets/images/telegram.svg

      //-     a.hero__about-social.social-btn(href="#") 
      //-       //- span INSTAPUK
      //-       include ../../assets/images/instagram.svg
    //- .hero__img
    //-   +image('IMG1.JPG')

    //- .hero__img
    //-     +image('IMG1.JPG')
    //- .hero__img 
    //-     +image("img.jpeg")
