section.works
  .works__container.container 
    .works__items
      .works__item
        +worksItem('Pug / SCSS / Green Sock / JS', 'A page with infinite scroll and links to social media.', 'inf1.webp', 'https://glittery-klepon-f6a4e3.netlify.app/')
      .works__item
        +worksItem('Pug / SCSS / Green Sock / JS', 'A web page with responsive design, showcasing portfolio projects.', 'landing1.webp', 'https://bucolic-blancmange-6ee124.netlify.app/')
      .works__item
        +worksItem('vanilla.js / ES6 / Pug / Netlify', 'Creating editing deletion tasks, tracking execution time,', 'todo1.webp', 'https://musical-cat-d90351.netlify.app/')
      .works__item
        +worksItem('Pug / SCSS / JS / FontAwesome', 'Social cards, page display switching and color change', 'cards1.webp', 'https://effortless-palmier-7046d5.netlify.app/')
      .works__item
        +worksItem('Mixins / SCSS / JS / FontAwesome ', 'Pixelperfect layout page using figma/pug/scss/webpack,', 'slot1.webp', 'https://cosmic-gnome-ce098c.netlify.app/')
      .works__item
        +worksItem('Flop App', 'Page with flipping cards', 'promo1.webp', 'https://effulgent-llama-30370e.netlify.app/')
      .works__item
        +worksItem('Node.js / Telegraph.js / Cheerio parsing', 'A page that allows collecting contacts for sending to Telegram.', 'lami1.webp', 'https://regal-narwhal-ef1580.netlify.app/')
      .works__item
        +worksItem('React / React Routing / use localstorage', 'simple react mobile app', 'guse1.webp', 'https://wondrous-crepe-985dc3.netlify.app/')
      .works__item
        +worksItem('Pug / Mixins / SCSS', 'Convenient platform with a grid of cards', 'papaja1.webp', 'https://chic-dragon-63d595.netlify.app/')
      .works__item
        +worksItem('Node.js / Telegraph.js / Cheerio parsing', 'Automated daily post creation by scraping content from an awarding website', 'bot1.webp', 'https://t.me/css_daily')
