section.works
  .works__container.container 
    .works__items 
      +worksItem('Angular / SCSS/ BEM', 'Website for parents: educational courses, expert advice, and useful resources.', 'kiga1.jpeg', 'https://kiga-plus.de/')
      +worksItem('Pug / SCSS / Green Sock  / JS', 'A page with infinite scroll and links to social media.', 'inf1.png', 'https://glittery-klepon-f6a4e3.netlify.app/')
      +worksItem('Pug / SCSS / Green Sock  / JS', 'A web page with responsive design, showcasing portfolio projects.', 'landing1.jpeg', 'https://bucolic-blancmange-6ee124.netlify.app/')
      +worksItem('vanilla.js / ES6 / Pug / Netlify', 'Creating editing deletion tasks, tracking execution time,', 'todo1.png', 'https://musical-cat-d90351.netlify.app/')
      +worksItem('Pug / SCSS / JS / FontAwesome', 'Social cards, page display switching and color change', 'cards1.png', 'https://effortless-palmier-7046d5.netlify.app/')
      +worksItem('Mixins / SCSS / JS / FontAwesome ', 'Pixelperfect layout page using figma/pug/scss/webpack,', 'slot1.png', 'https://cosmic-gnome-ce098c.netlify.app/')
      +worksItem('Flop App', 'Flop app description', 'promo1.png', 'https://effulgent-llama-30370e.netlify.app/')
      +worksItem('React / React Routing / use localstorage', 'simple react mobile app', 'guse1.png', 'https://wondrous-crepe-985dc3.netlify.app/')
      +worksItem('Pug / Mixins / SCSS', 'Convenient platform with a grid of cards', 'papaja1.png', 'https://chic-dragon-63d595.netlify.app/')
      +worksItem('Node.js / Telegraph.js / Cheerio parsing', 'Automated daily post creation by scraping content from an awarding website', 'bot1.png', 'https://t.me/css_daily')
        //- +image('todo2.png')
