section.works
    .works__container.container 
        .works__items 
            a.works__item
                .works__item-header
                    .works__item-text 
                        h3 Flop App
                        span Flop app description
                    .works__item-img
                        include ../../assets/images/arrow.svg
                .works__item-bg 
                    +image('todo1.png')
            a.works__item
                .works__item-header
                    .works__item-text 
                        h3 Flop App
                        span Flop app description
                    .works__item-img
                        include ../../assets/images/arrow.svg
                .works__item-bg 
                    +image('todo2.png')