.about {
  &__text {
    display: flex;
    flex-direction: column;
    gap: em(20);
  }
  &__title {
    text-align: center;
    span {
      font-family: "Open Sans", sans-serif;
      font-size: em(24);
      color: #2c2c2c;
    }
  }
  &__skills {
    overflow: hidden;
    max-height: em(40);
    margin-top: em(30);
    @include mobile {
      padding: em(4) 0;
    }
  }
  &__btns {
    display: flex;
    gap: em(20);
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-wrap: wrap;
      gap: em(8);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: em(4);
    background: #ececec; /* Исходный цвет фона */
    border-radius: 50px;
    padding: em(8) em(20);
    min-width: em(80);
    text-align: center;
  
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
  
    @include mobile {
      justify-content: center;
      gap: em(2);
  
      padding: em(8) em(8);
    }
    span {
      font-family: "Open Sans", sans-serif;
      font-size: em(20);
    }
  
    &:hover {
      background: linear-gradient(135deg, #ff89cc7d, #85d6ff77, #8bff806b, #ffe98575);
    }
  }
  
  
  &__btn svg {
    width: em(24);
    height: em(24);
    @include mobile {
      width: em(18);
      height: em(18);
    }
  }
  // &__btn:hover {
  //   background: #bbbebf;
  // }

  &__btn:hover svg {
    animation: moveForwardBackward 1s ease-in-out infinite;
  }
  @keyframes moveForwardBackward {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  &__descr {
    display: flex;
    justify-content: center;
  }
  &__descr-item {
    display: none;
    justify-content: center;
    padding: em(8) em(20);

    gap: em(6);
    background-color: #fff;
    border-radius: 16px;
    p {
      font-family: "Open Sans", sans-serif;
      font-size: em(20);
      color: rgb(0, 0, 0);
      @include mobile {
        font-size: em(14);
      }
    }
    span {
      font-family: "Open Sans", sans-serif;
      font-size: em(18);
      color: rgb(147, 147, 147);
    }
  }
  &__descr-item--full {
    display: none;
    position: fixed;
    padding: em(30);
    padding-right: em(90);
    gap: em(20);
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #000000;
    background: rgb(255, 255, 255);
    @include mobile {
      padding: em(20) em(10);
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-size: em(24);
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      line-height: 120%;
      @include mobile {
        font-size: em(16);
      }
    }
    span {
      font-family: "Open Sans", sans-serif;
      font-size: em(18);
      text-transform: lowercase;
      color: rgb(117, 117, 117);
      @include mobile {
        font-size: em(14);
      }
    }
  }
  &__descr-item-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: em(20);
    background: rgba(167, 122, 122, 0.306);
    border-radius: 0 16px;
    cursor: pointer;
    box-shadow: inset 2px -2px 3px 0px rgba(0, 0, 0, 0.2);
    @include mobile {
      margin: em(2);
      border-radius: 16px;

      padding: em(8);
    }
    span {
      font-size: em(24);
      color: rgb(194, 40, 40);
    }
    &:hover {
      background: rgba(154, 134, 134, 0.306);
    }
  }
  .showed {
    display: flex;
  }
  .showed-grid {
    display: grid;
  }
}
