.about {
  &__container {
  }
  &__text {
  }
  &__title {
    text-align: center;
    span {
      font-family: "Open Sans", sans-serif;
      font-size: em(22);
      color: #2c2c2c;
    }
  }
  &__skills ul {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @include mobile {
      display: grid;
    }
  }
  &__skills li {
    display: flex;
    align-items: center;
    gap: em(4);
    font-family: "Open Sans", sans-serif;
    font-size: em(18);
    background: #e8e8e8;
    border-radius: 50px;
    padding: em(8) em(20);
    min-width: em(80);
    text-align: center;

    cursor: pointer;
    z-index: 10;
    @include mobile {
      justify-content: space-between;
    }
  }
  &__skills li svg {
    width: em(24);
    height: em(24);
  }

  &__skills li:hover {
    background: #bbbebf;
  }

  &__skills li:hover svg {
    animation: moveForwardBackward 1s ease-in-out infinite;
  }
  @keyframes moveForwardBackward {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
