.btn {
  display: flex;
  align-items: center;
  padding: em(8) em(24);
  border-radius: 50px;
}
.btn svg {
  width: em(30);
  height: em(30);
}

.btn svg path {
  fill: #ffffff;
}
.social-btn {
  display: flex;
  gap: em(4);
  align-items: center;
  border-radius: 50px;
}

.social-btn svg {
  max-width: em(40);
  max-height: em(40);
}

